<h1>Products</h1>

<ul>
    <% products.forEach(thing => { %>
        <li><%= thing.name  %></li>
    <% }) %>
    <br>
    <div>
        <a href='/categories'>Return to Category List</a>
    </div>
</ul>
